
<h1>Estadisticas</h1>
<br>
<h3>Numero de preguntas: <%= estadisticas.preguntas %></h3>
<h3>Numero de comentarios: <%= estadisticas.comentarios %></h3>
<h3>Numero de comentarios por pregunta: <%= estadisticas.comentariosporpregunta %></h3>
<h3>Numero de preguntas sin comentarios: <%= estadisticas.preguntasnocomentarios %></h3>
<h3>Numero de preguntas con comentarios: <%= estadisticas.preguntasconcomentarios %></h3>
